[submodule "Advent of code"]
	path = Advent of code
	url = git@github.com:Favo02/advent-of-code.git
[submodule "Cloudflight Coding Contest"]
	path = Cloudflight Coding Contest
	url = git@github.com:Favo02/cloudflight-coding-contest.git
[submodule "Codeforces"]
	path = Codeforces
	url = git@github.com:Favo02/codeforces.git
[submodule "HackerRank"]
	path = HackerRank
	url = git@github.com:Favo02/hacker-rank.git
[submodule "ITACPC"]
	path = ITACPC
	url = git@github.com:Favo02/itacpc.git
[submodule "Kattis"]
	path = Kattis
	url = git@github.com:Favo02/kattis.git
[submodule "LeetCode"]
	path = LeetCode
	url = git@github.com:Favo02/leetcode.git
[submodule "Meta Hacker Cup"]
	path = Meta Hacker Cup
	url = git@github.com:Favo02/meta-hacker-cup.git
[submodule "NOI Hackathon Summer 2023 - Skilab"]
	path = NOI Hackathon Summer 2023 - Skilab
	url = git@github.com:Favo02/skilab.git
[submodule "NOI Hackathon SFScon 2023 - SensorsMinds"]
	path = NOI Hackathon SFScon 2023 - SensorsMinds
	url = git@github.com:Favo02/sensors-minds.git
[submodule "Reply Challenge"]
	path = Reply Challenge
	url = git@github.com:Favo02/reply-challenge.git
[submodule "UNIMI-SWERC"]
	path = UNIMI-SWERC
	url = git@github.com:Favo02/unimi-swerc.git
[submodule "Utilities/Competitive Programming Cheatsheet"]
	path = Utilities/Competitive Programming Cheatsheet
	url = git@github.com:Favo02/competitive-programming-cheatsheet.git
[submodule "Utilities/Java Algorithms and Structures"]
	path = Utilities/Java Algorithms and Structures
	url = git@github.com:Favo02/java-algorithms-and-structures.git
